body
    {
        background-color:aquamarine;
    }

a
    {
        cursor: url("../images/curse.png"), default;
    }

h1
    {
        color:bisque;

        background-color:slategray;

        border-radius: 5px;

        text-align:center;

        font-family:gt super;
    }

h2
    {
        color:salmon;

        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

img
    {
        width: 500px;

        height:auto;

        border-radius: 15px;
    }